
  .cards-wrapper {
    
    background-color: #F6F6F6;
    border-radius: 50px;
    width: 1240px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
  }
  
  .cards-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes */
    gap: 30px; 
  }
  

  /* Media Queries pour les écrans plus petits */ 
  @media screen and (max-width: 768px) {
    .banner{
      margin-left: 108px;
  
    }


    .cards-wrapper {
    width: 335px;  
    padding: 30px;  
    margin-left: 80px; 
  }
  .cards-container { 
    grid-template-columns: 1fr; /* Une seule colonne */
     
  }

  }