
.cards-wrapper {
  background-color: #F6F6F6;
  border-radius: 50px;
  max-width: 1240px;
  margin: 20px auto;
  padding: 50px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* ✅ 3 colonnes fixes */
  gap: 30px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .cards-wrapper {
    background-color: white;
    padding: 20px;
    margin: 15px auto;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 16px;
  }

  .card-link {
    width: 100%;
    max-width: 339px;
    margin: 0 auto;
  }

 
}
