/* ===== HEADER ===== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  height: 68px;
  margin: 0 auto 30px auto;
  background-color: white;
  box-sizing: border-box;
}

/* ===== LOGO ===== */

.logo {
  width: 210px;
  height: 68px;
  pointer-events: none;
  text-decoration: none;
  padding: O;
}

/* ===== NAVIGATION ===== */


nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 57px;
}

nav li {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  position: relative;
}

/* Trait noir au survol uniquement */
nav a::after {
  content: '';
  display: block;
  height: 2px;
  background-color: transparent;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  transition: background-color 0.3s;
}

nav a:hover::after {
  background-color: black;
}

/* Supprimer toute couleur parasite */
nav a:visited,
nav a:focus,
nav a:active {
  color: black;
}

/* ===== RESPONSIVE ===== */

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 100%;
    max-width: 375px;
    padding-right: 20px;
    
    box-sizing: border-box;
  }

  .logo {
    width: 145px;
    height: auto;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    display: flex;
    align-items: center;
  }

  nav a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    position: relative;
  }

  nav a:visited,
  nav a:focus,
  nav a:active {
    color: black;
  }

  nav a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: transparent;
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    transition: background-color 0.3s;
  }

  nav a:hover::after {
    background-color: black;
  }
}

