html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
  flex: 1; /* Permet au contenu principal de prendre tout l'espace disponible */
}

.footer {
  width: 1440px;
  height: 209px;
  background-color: black;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* Pour que le footer ne couvre pas le contenu de la page */
  bottom: 0;
}

.footer img {
  width: 122px;
  height: 39px;
  margin-top: 20px;
}

.footer p {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.footercontenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media Queries pour les écrans plus petits */ 
@media screen and (max-width: 768px) {
  .footer {
    width: 375px;
    margin: 30px;
  }
  
  .footer img {
    width: 100px; 
    height: auto;
    margin-top: 10px;
  }

  .footer p {
    font-size: 14px; 
    margin-top: 5px;
    padding: 0 20px; 
  }
  
  .footercontenu {
    padding: 0 10px; 
  }
}

