
.logement {
  width: 1240px;
  margin-left: 100px;
}
.fiche-logement{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.titre {
  font-family: 'Arial', sans-serif;
  
}

.titreP1 {
  color: #ff6060;
    text-align: left;
    font-size: 36px;
    display: flex;
    
    flex-direction: column;
    
}

.titreP1 p {
  margin: 0;
}

.location {
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin-top: -10px;
}

.titreP2 {
  display: none;
}

.host-info {
  display: flex;
  
      align-items: center;
      justify-content: flex-end;
      
}

.host-info p {
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
  margin: 0 10px 0 0; /* Ajoute un espace entre le texte et l'image */
  text-align: right; /* Aligne le texte à droite */
}

.host-info img {
  border-radius: 50%; /* Assure que la photo est ronde */
  height: 64px;
  width: 64px;
}


.tags {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  gap: 10px;
}

.tag {
  background-color: #ff6060;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}

.rating {
  display: flex;
 
  flex-wrap: wrap;
  flex-direction: column;
}
.rating-star {
  display: flex;
  justify-content: flex-end;
}

.star {
  color: #bbb;
  font-size: 36px;
  margin-right: 5px;
}

.star.filled {
  color: #ff6060;
}


.description_column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.description_title h2 {
  font-weight: 500;
  color: #ff6060;
}

.location {
  margin: 5px 0;
  color: black;
}
/* Responsive Design */

@media (max-width: 767.98px) {
  .logement{
    width: 335px;
    margin-left: 0px;
  }
  .fiche-logement{
    margin-top: 10px;
  }
 
  .slideshow img {
    width: 335px;
    height: 255px;
    border-radius: 0px;
  }
  .titre{
    width: 335px;
  }
  
  .titreP1 p{
    font-size: 18px;
  }
  .p .location{
    font-size: 14px;
  }

  .description_host {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
.tags {
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 15px;
}
.tag {
  font-size: 10px;
  border-radius: 5px;
  padding: 4px 15px;
}

.rating {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 335px;
  
  margin-top: 15px;
}

.host-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  max-width: 130px;
}

.host-info p {
  font-size: 12px;
  width: 55px;
  text-align: right;
  color: #ff6060;
  margin: 0;
}

.host-info img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.rating-star {
  gap: 4px;
  
}

.star {
  font-size: inherit;
  color: #bbb;
}

.star.filled {
  color: #ff6060;
}




}