.slideshow {
  position: relative;
  
  display: flex;
  justify-content: center;
}

.slideshow img {
  border-radius: 25px;
  width: 1240px;
  height: 415px;
  object-fit: cover;
  z-index: 1;
}

/* Flèches simples */
.slideshow .prev,
.slideshow .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 60px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
  padding: 0;
}

/* Collées vers les  bords de la photo */
.slideshow .prev {
  left: 20px;
}

.slideshow .next {
  right: 20px;
}

/* Supprime le contour par défaut */
.slideshow button:focus {
  outline: none;
  box-shadow: none;
}

/* Pagination */
.pagination-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
  text-align: center;
  z-index: 3;
}

/* Responsive Design */
@media (max-width: 767.98px) {
  .slideshow img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .slideshow .prev,
  .slideshow .next {
    font-size: 24px;
  }
  .pagination-container {
    font-size: 14px;
  }
}
